.sign-up{
    display:flex;
    flex-direction: column;
    width: 380px;

    @media screen and (max-width:800px) {
        width: 300px;
        padding: 20px 0 20px 0;
        
    }
}
.title{
    margin:10px 0;
}
.btn-custom{
    @media screen and (max-width:800px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}